<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to books_path, class: 'btn btn-success' do %>
          <div class="fa fa-flag"></div>
            Books
          <% end %>
      </li>&nbsp;
      <li class="nav-item">
        <%= link_to authors_path, class: 'btn btn-success' do %>
          <div class="fa fa-flag"></div>
            Authors
          <% end %>
      </li>
    </ul>
  </div>
</nav>